.App {
  text-align: center;  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.clock {
  font-size: 10vw;
  width: 100%;
  border: 10px solid green;
  padding: 15px;
  margin: 50%px;
  color: white;
  display: flex;
	align-items: center;
	justify-content: center;
}

.countdown {
  font-size: 8vw;
  color: rgb(255, 255, 255);
  width: 100%;
  border: 10px solid blueviolet;
  padding: 15px;
  margin: 30%px;
}

.date {
  font-size: 3vw;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 60%;
}

.body {
  background-color: #282c34;
  color: white;
}